<nav class="flex jc-space-between align-items-center width-100">
  <div class="text-1 weight-6 font-size-5 font-title">
    Ryan Field
  </div>
  <span class="flex align-items-center gap-2 height-100">
    <label for="theme" class="weight-6">Theme: </label>
      <select [formControl]="theme" name="themes" class="weight-6">
        <option value="blue-ice">blue-ice</option>
        <option value="strawberry">strawberry</option>
        <option value="grape">grape</option>
        <option value="lime">lime</option>
      </select>
  </span>
</nav>
