<section class="home-section">
    <h2>What I do</h2>
    <div class="width-100 container">
        @for (responsibility of responsibilities; track responsibility.emote) {

            <div class="card rad-shadow surface-2">
                <ng-icon [name]="responsibility.emote"/>
                <div>
                    <h4>{{ responsibility.heading }}</h4>
                    <p>
                        {{ responsibility.text }}
                    </p>
                </div>
            </div>
        }
    </div>
</section>
