canvas {
  width: 100%;
  background: linear-gradient(0deg, var(--surface-4) 0%, var(--surface-1) 100%) !important;
  border-color: var(--brand);
  border-right-width: 2px;
  border-left-width: 1px;
  border-bottom-width: 1px;
}
