<section class="flex-column align-items-center gap-8">
    <h2 class="weight-6 text-center">What I Have Experience Using</h2>
    <p class="text-center">
        Throughout my career I have been exposed to a wide variety of tools and technologies to various degrees. When it
        comes to my confidence and experience, then Angular comes out on top for frontend while I am comfortable with C#,
        Java or Typescript when it comes to the backend.
    </p>
    <button (click)="playAnimation()">Play Animation</button>
    <canvas #canvas></canvas>
</section>