:root {
  --brand-grape: var(--purple-5);

  --text-1-grape: var(--purple-9);
  --text-2-grape: var(--purple-7);

  --surface-1-grape: var(--purple-0);
  --surface-2-grape: var(--purple-1);
  --surface-3-grape: var(--purple-2);
  --surface-4-grape: var(--purple-3);

  --surface-shadow-grape: var(--purple-12-hsl);
  --shadow-strength-grape: 2%;
}

[color-scheme="grape"] {
  color-scheme: grape;

  --brand: var(--brand-grape);
  --text-1: var(--text-1-grape);
  --text-2: var(--text-2-grape);
  --surface-1: var(--surface-1-grape);
  --surface-2: var(--surface-2-grape);
  --surface-3: var(--surface-3-grape);
  --surface-4: var(--surface-4-grape);
  --surface-shadow: var(--surface-shadow-grape);
  --shadow-strength: var(--shadow-strength-grape);
}