@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --font-title: 'Chivo', sans-serif;
    --font-sub: 'Lora', serif;
}

label {
  font-family: var(--font-title), serif;
}

.text-brand {
    color: var(--brand);
}
.text-1 {
    color: var(--text-1);
}

.text-2 {
    color: var(--text-2);
}

.font-title {
    font-family: var(--font-title), serif;
}

.font-sub {
    font-family: var(--font-sub), serif;
}

.weight-6 {
    font-weight: var(--font-weight-6);
}

.bold {
  @extend .weight-6;
}

.text-center {
    text-align: center;
}

@for $i from 0 through 8 {
    .font-size-#{$i} {
        font-size: var(--font-size-#{$i});
    }
}
