<header class="centered-column">
  <h2 class="bold">Projects</h2>
  <p class="text-center">
    Here's a list of some of my projects that I want to show off. There's a
    pretty wide range of things to expect here such as older repositories,
    currently live production sites, or even small demos hosted here. In any
    case you'll be able to find detailed explanations of everything, including
    languages, frameworks and techniques used, alongside any extra thoughts or
    key takeaways from myself.
  </p>
</header>
