<main>
    <section class="flex align-items-center">
        <img
                ngSrc="/src/assets/sippin.jpg"
                width="200"
                height="500"
                priority
                class="rounded-3 rad-shadow center"
        >

        <div class="height-100 flex-column justify-between">
            <div>
                <h1 class="weight-6 text-1"> Ryan Field </h1>
                <h2 class="text-2"> Full Stack Developer</h2>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </section>
</main>