<section class="gap-3 row-above-md jc-space-around align-items-center">
    <div class="relative image-container ratio-portrait">
        <img
                [ngSrc]="baseHref.toString() + '/assets/sippin.png'"
                fill
                priority
                class="rounded-3 rad-shadow"
        >
    </div>

    <div class="gap-3 gap-8_md flex-column jc-center">
        <div>
            <h1 class="weight-6"> Ryan Field</h1>
            <h2 class="text-2"> Full Stack Developer</h2>
        </div>
        <p>
            I'm a self-motivated developer with over 6 years of experience. No matter the task at hand I always welcome
            a challenge and I'm not afraid to get my hands dirty with the unfamiliar. There's always an opportunity to
            learn when developing software and that helps drive me to improve and expand my skill set.
        </p>
        <p>
            I've made this site as an easy way to find out about myself as a developer, as well as a place for me to
            store and display any projects or techniques I'm working on. As a result of this there may be some out of
            place or seemingly random things scattered throughout.
        </p>
    </div>
</section>
