@import "styles/typography.css";
/* the props */
@import "open-props/style";

/* optional imports that use the props */
@import "open-props/normalize";
@import "open-props/buttons";
@import "open-props/colors-hsl";
@import "open-props/brand-colors";

@import "styles/themes/_themes.css";


:root {
}

html {
    font-family: var(--font-sub);
}

h1, h2, h3, h4 {
    font-family: var(--font-title);
    font-weight: var(--font-weight-bold);
}