@forward "styles/typography";
/* the props */
@forward "open-props/style";
@forward "open-props/media";

/* optional forwards that forward the props */
@forward "open-props/normalize";
@forward "open-props/buttons";
@forward "open-props/colors-hsl";
@forward "open-props/brand-colors";

@forward 'styles/variables';
@forward "styles/themes/themes";
@forward "styles/surfaces.css";
@forward "styles/shadows";
@forward "styles/borders.css";
@forward "styles/layout";
@forward "styles/size";


//@media (prefers-color-scheme: dark) {
//    button {
//
//            all: revert;
//
//    }
//}

html {
    font-family: var(--font-sub), serif;
    padding-left: var(--size-5);
    padding-right: var(--size-5);
}

body {

    max-width: var(--size-lg);
    margin: auto;
}

h1, h2, h3, h4 {
    font-family: var(--font-title), serif;
    font-weight: var(--font-weight-bold);
}

app-root {
    * {
        display: block;
    }
}
