@forward "styles/typography";
@use "prismjs/themes/prism-twilight.css";
/* the props */
@forward "open-props/style";
@forward "open-props/media";

/* optional forwards that forward the props */
@forward "open-props/normalize";
@forward "open-props/buttons";
@forward "open-props/colors-hsl";
@forward "open-props/brand-colors";

@forward 'styles/variables';
@forward "styles/themes/themes";
@forward "styles/surfaces";
@forward "styles/shadows";
@forward "styles/borders.css";
@forward "styles/layout";
@forward "styles/size";
@forward "styles/button";
@forward "styles/select";
@forward "styles/pages/home";
@forward "styles/animations/animations";

:root {

}

app-root {
  * {
    display: block;
  }
}

a {
  display: inline;
}

html {
  font-family: var(--font-sub), serif;
}

body {
  max-width: var(--size-lg);
  margin: auto;
}

router-outlet ~ * {
  width: 100%;
  max-width: calc(100vw - var(--size-8));
  margin: auto;
}

h1, h2, h3, h4 {
  font-family: var(--font-title), serif;
  font-weight: var(--font-weight-bold);
}


@media (prefers-color-scheme: dark), (prefers-color-scheme: light) {
  :where(textarea, select, input:not([type=button], [type=submit], [type=reset])) {
    background-color: var(--surface-1);
  }
  :where(dialog) {
    background-color: var(--surface-2);
  }
  ::placeholder {
    color: var(--surface-4);
  }
}
